<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>Hello, this is the Home page</h1>
<ul>
	<li><a href="about">Go to about</a></li>
	<li><a href="contactos">Go to contact pages</a></li>
</ul>
</body>
</html>